@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin:0;
    padding: 0;
}

.bg-special {
    background: rgba(0,0,0,0.4);
}

#hero-img {
    z-index: -1;
}

#alerts *{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

#alerts .alert {
    padding: 15px;
}

.special-height {
    height: 500px;
}

a:hover {
    color: white;
}

a:hover *{
    color: white;
}

.basic-padding {
    margin-top: 120px;
    margin-bottom: 120px;
}

#features .row {
    margin: 0;
}

.input-field {
    margin: 50px 0 50px 0;
}